
<div class="p-fluid fondo">
    <form [formGroup]="form3" style="width: 100%;">
        <div>
            <div class="p-field">
                <p>Fecha de inicio</p>
                <p-calendar 
                    id="startdate" 
                    formControlName="startdate" 
                    showIcon="true" 
                    icon="pi pi-calendar" 
                    iconPos="left">
                </p-calendar>
            </div>
        </div>
        <div *ngIf="form3.controls['startdate'].invalid && form3.controls['startdate'].touched" class="error">
            La fecha de inicio es requerida
        </div>

        <div class="p-field">
            <p>Fecha de finalización</p>
            <p-calendar 
                id="finaldate" 
                formControlName="finaldate" 
                showIcon="true" 
                icon="pi pi-calendar" 
                iconPos="left">
            </p-calendar>
        </div>
        <div *ngIf="form3.controls['finaldate'].invalid && form3.controls['finaldate'].touched" class="error">
            La fecha de finalización es requerida
        </div>

        <p>Descripción</p>
        <div class="p-field">
            <p-inputGroup>
                <textarea 
                    rows="5"
                    cols="30" 
                    pInputTextarea 
                    formControlName="text"
                    placeholder="Notas">
                </textarea>
                <p-inputGroupAddon><i class="pi pi-align-left"></i></p-inputGroupAddon>
            </p-inputGroup>
        </div>
    </form>
</div>