<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mi app angular</title>
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
</head>
<body>
  <h1>Primera parte
  </h1>  
  <h2 class="titulo">Titulo número 1 de la primera parte</h2>
  <p Class="parrafo">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex voluptates omnis eaque pariatur nesciunt reiciendis, itaque velit cum totam molestiae provident. Amet dolorum officiis repellendus illo. Rerum tempora aliquam dolorem.
  </p>
  <p class="parrafo2">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, doloribus nihil minus debitis nobis animi atque sed recusandae, perferendis quisquam officia reiciendis possimus libero rerum explicabo quod sequi labore. Dolores.
  </p>
  <ul>
    <li ><a class="vinculos" href="https://github.com/ThiagoSan99/my-angular-cl2/tree/main" target="_blank">Git hub</a></li>
    <li ><a class="vinculos" href="https://youtu.be/CxhNkl1Y7E0?list=RDCxhNkl1Y7E0" target="_blank">Cancion 1</a></li>
    <li ><a class="vinculos" href="https://www.youtube.com/watch?v=iK3W9kvsQ_o&list=RDCxhNkl1Y7E0&index=5&pp=8AUB" target="_blank">Cancion 2</a></li>
  </ul>
  <table border="5">
    <tr>
      <th> Productos</th>
      <th>Existencias</th>
      <th>Valor</th>
    </tr>
    <tr>
       <td >Iphone</td>
       <td >10</td>
       <td >$2.000.000</td>
    </tr>
    <tr>
      <td class="fila2">Mouse</td>
      <td class="fila2">100</td>
      <td class="fila2">$50.000</td>
    </tr>
    <tr>
      <td>PC Gamer</td>
      <td>2</td>
      <td>$3.000.000</td>
    </tr>

  </table>
  <br>
  <h1>Segunda parte</h1>
  
  <div class= "contenedor">

    <div class="header">
      
      <div class=logo>
  
      </div>
      <div>
        <h2>Segunda parte</h2>
      </div>
  
      <div class = buscador>
          <form>
            <input type="text" placeholder="Buscador" required>
          </form>
      </div>
  
    </div>

    <div class="contenedorD">
      <div class="slideBar">

      </div>
  
      <div class="content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero voluptatem ipsa, consequatur rerum unde eum quos autem quas mollitia eligendi 
        incidunt eius harum necessitatibus fugiat accusantium expedita ad. Fugit, dignissimos?</p>
      </div>
    </div>
    <div class="footer">
      <div class="foot">
        <h2>Footer1</h2>
      </div>
      <div class="foot">
        <h2>Footer2</h2>
      </div>
      <div class="foot">
        <h2>Footer2</h2>
      </div>
    </div>
  </div>

</body>
</html>

<router-outlet />
