<div class="flex align-items-center	justify-content-center flex-column box_main">
    <h1>Menu Principal</h1>
    <div class="son_box">  
        <div class="mini_box">
            <div>
                <i class="pi pi-plus" style="font-size: 15rem"></i>
            </div>
            <div class="mt-6">
                <button pButton type="submit" label="Agregar Productos" class="btn_dark" (click)="redirigir()"></button>
            </div>
        </div>
        <div class="mini_box">
            <div>
                <i class="pi pi-th-large" style="font-size: 15rem"></i>
            </div>
            <div class="mt-6">
                <button pButton type="submit" label="Gestion" class="btn_dark"  (click)="redirigir1()"></button>
            </div>
        </div>
        <div class="mini_box">
            <div>
                <i class="pi pi-clipboard" style="font-size: 15rem"></i>
            </div>
            <div class="mt-6">
                <button pButton type="submit" label="Inventario" class="btn_dark"  (click)="redirigir2()"></button>
            </div>
        </div>
        <div class="mini_box">
            <div>
                <i class="pi pi-search" style="font-size: 15rem"></i>
            </div>
            <div class="mt-6">
                <button pButton type="submit" label="Buscar por Id" class="btn_dark"  (click)="redirigir3()"></button>
            </div>
        </div>
    </div>
</div>