<div class="p-fluid fondo">
  <form [formGroup]="form2" style="width: 100%" >
    <div class="p-field ">
      <p>Nombre del gerente</p>
      <div class="p-field p-input-icon-left">
        <i class="pi pi-user"></i>
        <input id="nameboss" type="text" pInputText class="w-full" placeholder="Nombre completo" formControlName="name">
      </div>
    </div>
    <div *ngIf="form2.controls['name'].invalid && form2.controls['name'].touched" class="error">
      El nombre del gerente es necesario
    </div>
    <div class="p-field" >
      <p>Correo electrónico del gerente</p>
      <div class="p-field p-input-icon-left">
        <i class="pi pi-envelope"></i>
        <input id="email" pInputText type="email" class="w-full" placeholder="Correo electrónico" formControlName="email">
      </div>
    </div>
    <div *ngIf="form2.controls['email'].invalid && form2.controls['email'].touched" class="error">
      El correo debe ser valido
    </div>
  </form>
</div>
