<form [formGroup] = "loginForm">
    <div class="card flex justify-content-center">
        <p-card header="Simple Card" [style]="{width:'360px'}" >
                <div class="field">
                    <input 
                    type="text"
                    pInputText
                    formControlName="usuario"
                    class="w-full"
                    name="usuario"
                    placeholder="Nombre de usuario"
                    />
                </div>
                <div class="field">
                    <input 
                    type="text"
                    pInputText
                    formControlName="usuario"
                    class="w-full"
                    name="contraseña"
                    placeholder="Nombre de usuario"
                    />
                </div>
                
        </p-card>
    </div>



</form>


<p>login works!</p>
