.error{
    color: rgb(206, 56, 56);
}

.box_biggest{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin-top: 10rem;
}

.form_padre {
    width: 30vw;
    margin-top: 20px;
    padding: 20px;
    border: 2px solid;
    border-radius: 20px;
    background-color:  rgb(242, 255, 238);
}

.margin_divs {
    margin: 20px;
}